name: Build
on:
  pull_request:
  push:
    branches:
      - feature/*
      - main
      - 15.*.x
      - 14.0.x

concurrency:
  # Cancel jobs same head_branch same repo, works
  # both for pull_request and push
  group: >
      ${{ github.workflow }}-${{ github.repository }}-
      ${{ github.event.pull_request.head.ref || github.event.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Check Run for Test Report
        env:
          GH_TOKEN: ${{ github.token }}
        id: create_check
        run: |
          SHA="${{ github.sha }}"
          gh api repos/${{ github.repository }}/check-runs \
            -H "Accept: application/vnd.github+json" \
            -f name="Test Report Result" \
            -f head_sha="$SHA" \
            -f status="in_progress" \
            --method POST
          for db in mssql oracle db2; do
            gh api repos/${{ github.repository }}/check-runs \
              -H "Accept: application/vnd.github+json" \
              -f name="Test Report Result" ${db} \
              -f head_sha="$SHA" \
              -f status="in_progress" \
              --method POST
          done

      - name: Build Infinispan
        uses: ./.github/actions/build-infinispan

      - run: echo Build Completed ${{ github.run_id }} > server-version.txt

      - name: Server version
        run: >
          mvn -q -Dexec.executable=echo -Dexec.args='-n ${project.version}'
          --non-recursive exec:exec > server-version.txt

      - name: Archive server version
        uses: actions/upload-artifact@v4
        with:
          name: server-version
          path: |
            server-version.txt
