name: On PR Open or Push Do Build
on:
  pull_request:
  push:
    branches:
      - main
      - 15.[0-9]+.x
      - 14.0.x

concurrency:
  # Only cancel jobs for PR updates
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Infinispan
        uses: ./.github/actions/build-infinispan

      - run: echo Build Completed ${{ github.run_id }}
