name: On Run Publish CI
on:
   workflow_run:
     workflows: [On PR Open or Push Do Build and Test]
     types: [completed]
jobs:
   get-workflow-info:
      runs-on: ubuntu-latest
      outputs:
         pullRequestNumber: ${{ steps.source-run-info.outputs.pullRequestNumber }}
         sourceBranch: ${{ steps.source-run-info.outputs.sourceHeadBranch }}
         sourceEvent: ${{ steps.source-run-info.outputs.sourceEvent }}
      steps:
         - name: "Get information about the origin 'CI' run"
           uses: potiuk/get-workflow-origin@v1_1
           id: source-run-info
           with:
            token: ${{ secrets.GITHUB_TOKEN }}
            sourceRunId: ${{ github.event.workflow_run.id }}
   images-branch:
      if: needs.get-workflow-info.outputs.sourceEvent == 'push'
      needs: get-workflow-info
      uses: infinispan/infinispan-images/.github/workflows/ci-release.yml@rz-publish-image
      secrets:
        token: ${{ secrets.GITHUB_TOKEN }}
        quay_user: ${{ secrets.QUAY_IO_USERNAME }}
        quay_pass: ${{ secrets.QUAY_IO_PASSWORD }}
      with:
        repository: ${{ github.repository }}
        run-id: ${{ github.event.workflow_run.id }}
        art-name: infinispan-server
        tags: quay.io/rigazilla/server-test:gh-${{ needs.get-workflow-info.outputs.sourceBranch }}
   images-pr:
      if: needs.get-workflow-info.outputs.sourceEvent == 'pull_request'
      needs: get-workflow-info
      uses: infinispan/infinispan-images/.github/workflows/ci-release.yml@rz-publish-image
      secrets:
         token: ${{ secrets.GITHUB_TOKEN }}
         quay_user: ${{ secrets.QUAY_IO_USERNAME }}
         quay_pass: ${{ secrets.QUAY_IO_PASSWORD }}
      with:
        repository: ${{ github.repository }}
        run-id: ${{ github.event.workflow_run.id }}
        art-name: infinispan-server
        tags: quay.io/rigazilla/server-test:gh-PR-${{ needs.get-workflow-info.outputs.pullRequestNumber }}
