name: Test
on:
  push:

permissions:
  contents: read
  packages: read
  # Needed to write commit status
  statuses: write
  pull-requests: write

jobs:
  ci-build-test-pr:
    name: Maven Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: ./.github/actions/setup-java

      - name: Maven Test
        id: maven-test
        shell: bash
        run: >
            ./mvnw install -DskipTests && ./mvnw verify -V -B -e
            -Dmaven.test.failure.ignore=true
            -pl cdi/embedded -Dtest=SpecificCacheManagerTest,ConfiguredCacheTest,CacheEventTest,DefaultCacheTest,ExternalCacheContainerTest,ProgrammaticCacheContainerTest,CacheRegistrationTest
